<header>
    <div class="container">
        <nav class="navbar">
            <a href="{{ '/' | relative_url }}" class="logo">Leader<span>boarded</span></a>
            <ul class="nav-links">
                <li><a href="{{ '/' | relative_url }}">Home</a></li>
                <li><a href="{{ '/templates' | relative_url }}">Templates</a></li>
                <li><a href="{{ '/sales-leaderboard' | relative_url }}">Sales</a></li>
                <li><a href="{{ '/financial-services-leaderboard' | relative_url }}">Finance</a></li>
                <li><a href="{{ '/gamification-leaderboard' | relative_url }}">Gamification</a></li>
                <li><a href="{{ '/resources' | relative_url }}">Resources</a></li>
                <li><a href="{{ '/faq/' | relative_url }}">FAQ</a></li>
            </ul>
        </nav>
    </div>
</header>