<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://analytics.ahrefs.com/analytics.js" data-key="{{ site.ahrefs_key }}" async></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | relative_url }}">
    
    <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
    {% if page.custom_css %}
    <style>
        {{ page.custom_css }}
    </style>
    {% endif %}
    
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="{{ site.fathom_site_id }}" defer></script>
    <!-- / Fathom -->
    
    {% seo %}
</head>
<body>
    {% include header.html %}
    
    <!-- Notification Bar -->
    <div class="notification-bar">
        <div class="container">
            <p>Leaderboard.com has transitioned to new opportunities. We recommend <a href="https://keepthescore.com/?utm_source=leaderboard&utm_medium=notification-bar&utm_campaign=transition" rel="noopener" target="_blank">KeepTheScore</a> as a replacement.</p>
        </div>
    </div>
    
    {{ content }}
    
    {% include footer.html %}
    
    <script src="{{ '/scripts.js' | relative_url }}"></script>
</body>
</html>